#menu{
	background-color:#e4f4ff;
	position:fixed;
	left:-110px;
	top:50px;
	width:100px;
	padding:5px;
	transition:1s;
	 
	
}

.button{
	width:100%;
	position:absolute;
	width:50px;
	right:-50px;
}

#Open{
	top:0px;
}

#Close{
	bottom:0px;
}

